@model Prerequisite.Models.Config

@{
    ViewBag.Title = "Index";
}

<div>

</div>
<div class="bs-example">
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td> @Html.DisplayNameFor(model => model.DotNetFramework)</td>
                <td> @Html.DisplayFor(model => model.DotNetFramework)</td>
            </tr>
            <tr class="success">
                <td> @Html.DisplayNameFor(model => model.DotNetFrameworkVersion)</td>
                <td> @Html.DisplayFor(model => model.DotNetFrameworkVersion)</td>
            </tr>
            <tr class="active">
                <td> @Html.DisplayNameFor(model => model.IISVersion)</td>
                <td> @Html.DisplayFor(model => model.IISVersion)</td>
            </tr>
            <tr class="active">
                <td> @Html.DisplayNameFor(model => model.IISFeature)</td>
                <td> @Html.DisplayFor(model => model.IISFeature)</td>
            </tr>
            <tr class="info">
                <td> @Html.DisplayNameFor(model => model.SQLServerName)</td>
                <td> @Html.DisplayFor(model => model.SQLServerName)</td>

            </tr>
            <tr class="info">
                <td> @Html.DisplayNameFor(model => model.SQLServerInstanceName)</td>
                <td> @Html.DisplayFor(model => model.SQLServerInstanceName)</td>
            </tr>
            <tr class="danger">
                <td> @Html.DisplayNameFor(model => model.IsRequiredSoftwareInstalled)</td>
                <td>
                    @if (Model.IsRequiredSoftwareInstalled)
                    {
                        <h5> Yes</h5>
                    }
                    else
                    {
                        <h5> No</h5>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>

