@model Prerequisite.Models.Config

@{
    ViewBag.Title = "Index";
}

<div>

</div>
<div class="bs-example">
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="success">
                <td> @Html.DisplayNameFor(model => model.DotNetFramework)</td>
                <td> @Html.DisplayFor(model => model.DotNetFramework)</td>
            </tr>
            <tr class="success">
                <td> @Html.DisplayNameFor(model => model.DotNetFrameworkVersion)</td>
                <td> @Html.DisplayFor(model => model.DotNetFrameworkVersion)</td>
            </tr>
            <tr class="active">
                <td> @Html.DisplayNameFor(model => model.IISVersion)</td>
                <td> @Html.DisplayFor(model => model.IISVersion)</td>
            </tr>
            <tr class="info">
                <td> @Html.DisplayNameFor(model => model.SQLServerName)</td>
                <td> @Html.DisplayFor(model => model.SQLServerName)</td>

            </tr>
            <tr class="info">
                <td> @Html.DisplayNameFor(model => model.SQLServerInstanceName)</td>
                <td> @Html.DisplayFor(model => model.SQLServerInstanceName)</td>
            </tr>
            <tr class="info">
                <td> @Html.DisplayNameFor(model => model.SQLServerCompact)</td>
                <td>
                    @if (Model.SQLServerCompact)
                    {
                        <h5> Yes</h5>
                    }
                    else
                    {
                        <h5> No</h5>
                    }
                </td>
            </tr>

            <tr class="active">
                <td> @Html.DisplayNameFor(model => model.IISFeature)</td>
                <td> @Html.DisplayFor(model => model.IISFeature)</td>
            </tr>

            <tr class="danger">
                <td> @Html.DisplayNameFor(model => model.IsRequiredSoftwareInstalled)</td>
                <td>
                    <div class="form-group">
                        <label for="softwarename">Software Name:</label>
                        <input type="text" class="form-control" id="softwarename" placeholder="Enter Software Name" name="softwarename">
                    </div>
                    <button type="submit" onclick="CheckAvailablity()" class="btn btn-default">Check Availablity</button>
                    <div id="SoftwareAvailabilityResult"></div>
                </td>
                @*<td>
                    @if (Model.IsRequiredSoftwareInstalled)
                    {
                        <h5> Yes</h5>
                    }
                    else
                    {
                        <h5> No</h5>
                    }
                </td>*@
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.SQLConnectivity)</td>
                <td>
                    <div class="form-group">
                        <label for="servername">Server Name:</label>
                        <input type="text" class="form-control" id="servername" placeholder="Enter Server Name" name="servername">
                    </div>
                    <div class="form-group">
                        <label for="database">Database:</label>
                        <input type="text" class="form-control" id="database" placeholder="Enter Database Name" name="database">
                    </div>
                    <div class="form-group">
                        <label for="username">UserName:</label>
                        <input type="text" class="form-control credential" id="username" placeholder="Enter Username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control credential" id="password" placeholder="Enter Password" name="password">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="windowsAuthentication" name="windowsAuthentication" onclick="ShowHideDiv(this)"> Is Windows Authentication</label>
                    </div>
                    <button type="submit" onclick="TestConnection()" class="btn btn-default">Test Connection</button>
                    <div id="testConnResult">
                        <div id="testConnPermissoinResult"></div>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>
</div>
<script>
    function ShowHideDiv(windowsAuthentication) {
        var windowsAuthentication = document.getElementById("windowsAuthentication");
        if (windowsAuthentication.checked) {
            $('.credential').attr("disabled", "disabled");
        }
        else {
            $('.credential').removeAttr("disabled");
        }
    }
    function TestConnection() {
        var windowsAuthentication = document.getElementById("windowsAuthentication");
        var servername = $("#servername").val();
        var username = $("#username").val();
        var password = $("#password").val();
        var database = $("#database").val();

        
        // call controller method
        $.post("/Home/TestSQLConnection", { servername: servername, database:database,username: username, password: password, windowsAuthentication: windowsAuthentication.checked }, function (data) {
            if (data == "") {
                $("#testConnPermissoinResult").html("");
                alert("connection not valid");
            }
            else {
                var dataItems = "";
                $.each(data, function (index) {
                    dataItems += data[index].permission_name + ",\n";
                });

                $("#testConnPermissoinResult").html(dataItems);

            }
        });


    }

    function CheckAvailablity() {
        var softwarename = $("#softwarename").val();
        // call controller method
        $.post("/Home/TestSoftwareAvailability", { softwarename: softwarename}, function (data) {
            if (data == "") {
                $("#SoftwareAvailabilityResult").html("Not Available");
           }
            else {
                $("#SoftwareAvailabilityResult").html(data);

            }
        });


    }

</script>